@use "helpers";

$breakpoints: (
  "mobile": 576px,
  "phablet": 768px,
  "tablet": 992px,
  "desktop": 1200px,
) !default;

@mixin breakpoint($breakpointValue) {
  // if we have second param, use that else default to up (up, down or only)
  $direction: if(length($breakpointValue) > 1, nth($breakpointValue, 2), only);
  // breakpoint value is the first value in the params
  $breakpoint: nth($breakpointValue, 1);
  // Gets all the keys of breakpoints and checks if breakpoint is in there, returning the index number or null
  $index: index(map-keys($breakpoints), $breakpoint);

  @if ($direction == "up") {
    @if ($index == 1) {
      @include helpers.min(0) {
        @content;
      }
    } @else {
      @include helpers.min(map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
  } @else if ($direction == "down") {
    @include helpers.max(map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @include helpers.default($index, $breakpoints, $breakpoint) {
      @content;
    }
  }
}
